@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$headerImgUrl: "https://i.ibb.co/25Mb1hd/bg.png";

$fontFamily: 'Oswald', sans-serif !important;
 

$mainColor : #fcd842;
$gray :      #171426;
$white:      #FFFFFF;
$black:      #000;


/* import bootstrap to set changes */
$theme-colors: (
    "primary": $mainColor,
    "secondary": $gray,
);
$font-family-base: $fontFamily;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $mainColor;
$navbar-dark-active-color: $mainColor;
$navbar-brand-font-size:   2rem;


/* custom css */

#header{
    background-image: url($headerImgUrl); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slider{
    background-color: rgba($black, 0.60)
}
.slider-video{
    position: relative;
    width: 85%;

    img{
        width: 100%;
        height: auto;
        opacity: 0.32;
    }

    button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 50px;
    }
}

#benefit-item{}

.about-us{
    img{
        width:80%;
        height: 500px;
    }
}

.classes-btn{
    position: absolute;
    bottom: -5%;
    left: 5%;
    border-radius: 0 !important;
}

@import "~bootstrap/scss/bootstrap";