@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$headerImgUrl: "https://i.ibb.co/t8DLPWV/header-bg.jpg";

$fontFamily: 'Oswald', sans-serif !important;
 

$mainColor : #fcd842;
$gray :      #87868e;
$white:      #FFFFFF;


/* import bootstrap to set changes */
$theme-colors: (
    "primary": $mainColor,
);
$font-family-base: $fontFamily;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $mainColor;
$navbar-dark-active-color: $mainColor;
$navbar-brand-font-size:   2rem;


/* custom css */

#header{
    background-image: url($headerImgUrl);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.slider-video{
    position: relative;
    width: 100%;

    img{
        width: 100%;
        height: auto;
    }

    button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: $white;
        border: none;
        cursor: pointer;
        border-radius: 50px;
    }
}




@import "~bootstrap/scss/bootstrap";